.main {
  width: 100%;
  margin-top: 218px;

  .menu {
    width: 100%;
    padding: 75px 40px;
    background: #f3f4f7;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    .container {
      width: 100%;
      max-width: 1024px;
      .logoAndSocial {
        margin-bottom: 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          display: flex;
          align-items: center;
          gap: 14px;
        }
        .socials {
          display: flex;
          gap: 14px;
        }
      }
      .itemcontainer {
        width: 100%;
        display: flex;
        gap: 100px;
        flex-wrap: wrap;
        .items {
          h3 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            color: #7f2f75;
            margin: 0;
            margin: 17px 0px;
          }
          .link {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            cursor: pointer;
            color: #525252;
            margin: 9px 0px;
          }
        }
      }
    }
  }

  .toggleContainer {
    position: fixed;
    height: auto;
    width: 100%;
    bottom: 0;
    z-index: 1000; /* Stay on top */

    left: 0;

    overflow-y: hidden; /* Disable horizontal scroll */

    transition: all 0.5s ease-in-out; /* 0.5 second transition effect to slide in the sidebar */

    .wrapperRelative {
      width: 100%;
      position: relative;
      .toggleShow {
        position: absolute;
        top: 15px;
        right: 15px;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .bottom {
        transition: all 0.5s ease-in-out;
        // position: fixed;
        // bottom: 0;
        width: 100%;

        background: #7f2f75;
        display: flex;
        justify-content: center;
        // position: sticky;

        .toggleButton {
          // position: absolute;
          top: 15px;
          right: 15px;
          background-color: #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        .container {
          width: 100%;
          max-width: 1024px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 27px;
          p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            color: #ffffff;
          }
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 50px;
            background: #ffffff;
            border-radius: 10px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;

            text-align: center;
            cursor: pointer;
            color: #7f2f75;
            &:hover {
              color: #ffffff;
              background: #7f2f75;
            }
          }
        }
      }
    }

    .toggleRemove {
      position: fixed;
      bottom: 5px;

      z-index: 999;
      right: 1px;
      animation: topUpAnimation 0.5s ease-in-out;
      transform: rotate(180deg);
      cursor: pointer;
      .arrow {
        width: 40px;
        height: 40px;
        background-color: #7f2f75;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
  }
}

@keyframes topUpAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .main {
    .menu {
      .container {
        gap: 20px;
        .logoAndSocial {
          .socials {
            display: none;
          }
        }
      }
    }
    .toggleContainer {
      .wrapperRelative {
        .toggleShow {
          right: 5px;
        }
        .bottom {
          .container {
            gap: 10px;
            padding: 0 25px;
            p {
              font-size: 14px;
            }

            .button {
              font-size: 12px;
              height: 45px;
            }
          }
        }
      }
    }
  }
}
