.main {
	width: 100%;
	height: fit-content;
	.top {
		display: flex;
		justify-content: space-between;
		.left {
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1.285;
			margin: 0 0 20px 0;
			font-weight: 500;
			color: #8a2678;
		}
		.right {
			font-size: 15px;
			color: #8a2678;
			font-weight: 500;
			display: flex;
			gap: 10px;
			cursor: pointer;
			.arrow {
				width: 24px;
				height: 24px;
				border-radius: 50%;
				background-color: #f7ebf2;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-bottom: 4px;
				font-size: 20px;
			}
			&:hover .arrow {
				background-color: #8a2678;
				color: white;
			}
		}
	}
}
