.main {
	width: 100%;
	height: 550px;

	position: relative;

	.image {
		width: 95%;
		max-width: 1360px;
		height: 550px;

		img {
			width: 90% !important;
			height: 550px;
			border-radius: 40px;
		}
	}
	.containerwrapper {
		width: 100%;
		height: 550px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		display: flex;
		justify-content: center;
		.container {
			width: 90%;
			max-width: 1024px;
			height: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			.siteName {
				color: #8a2678;
				font-family: "Lexend", Sans-serif;
				font-size: 30px;
				font-weight: 300;
				line-height: 38px;
				margin: 0;
				margin-bottom: 18px;
			}
			.title {
				max-width: 382px;
				height: 150px;

				font-family: "Inter";
				font-style: normal;
				font-weight: 400;
				font-size: 45px;
				line-height: 111%;

				letter-spacing: -0.02em;
				color: #7f2f75;

				span {
					font-weight: 700;
					font-size: 45px;

					color: #7f2f75;
				}
			}
			.discription {
				width: 280px;
				height: 48px;

				font-family: "Inter";
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;

				color: #525252;

				margin-top: 20px;
				margin-bottom: 44px;
			}
			.buttons {
				display: flex;
				gap: 20px;
				.button {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 248px;
					height: 50px;

					background: #ffffff;
					border-radius: 10px;
					border: none;
					font-family: "Inter";
					font-style: normal;
					font-weight: 700;
					font-size: 14px;
					line-height: 17px;

					text-align: center;

					color: #7f2f75;
					cursor: pointer;
					&:hover {
						border: 1px solid rgba(127, 47, 117, 1);
						background: none;
					}
				}
				.buttonOutlined {
					width: 154px;
					height: 50px;
					border: 1px solid rgba(127, 47, 117, 1);
					font-family: "Inter";
					font-style: normal;
					font-weight: 700;
					font-size: 14px;
					line-height: 17px;
					/* identical to box height */

					text-align: center;
					border-radius: 10px;
					color: #7f2f75;
					cursor: pointer;
					&:hover {
						border: none;
						background: white;
					}
				}
			}
		}
	}
}
@media (max-width: "900px") {
	.main {
		.containerwrapper {
			.container {
				.title {
					font-size: 30px;
				}
			}
		}
	}
}
@media (max-width: "600px") {
	.main {
		height: 326px;
		.image {
			width: 95%;
			height: 326px;
		}
		.containerwrapper {
			height: 326px;
			.container {
				justify-content: flex-start;
				padding-top: 28px;
				.title {
					width: 285px;
					height: 54px;
					font-style: normal;
					font-weight: 700;
					font-size: 22px;
					br {
						display: none;
					}
					span {
						font-style: normal;
						font-weight: 700;
						font-size: 22px;
					}
				}
				.discription {
					width: 224px;
					height: 38px;

					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;

					color: #525252;
					margin-top: 10px;
					margin-bottom: 58px;
				}
				.buttons {
					flex-direction: column;
					align-items: center;
					.button {
						width: 100%;
					}
					.buttonOutlined {
						width: 100%;
						background: none;
					}
				}
			}
		}
	}
}
