.main {
	width: 100%;
	height: 434px;
	background-color: #e2e6e9;
	position: relative;
	.containerwrapper {
		width: 100%;
		height: 434px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		display: flex;
		justify-content: center;
		.container {
			width: 90%;
			max-width: 1280px;
			display: flex;
			justify-content: flex-end;
			.owlcontainer {
				width: 100%;
				max-width: 550px;
				height: 100%;
				display: flex;
				align-items: flex-end;

				.item {
					width: 100%;
					padding: 20px;
					display: flex;
					flex-direction: column;

					.stars {
						width: 100%;
						display: flex;
						justify-content: center;
						margin-bottom: 20px;
						.star {
							width: 24px;
							height: 24px;
						}
					}
					.text {
						font-family: "Lexend", Sans-serif;
						font-size: 27px;
						font-weight: 500;
						line-height: 1.23em;
						color: #2a2a2a;
						text-align: center;
					}
					.authorinfo {
						display: flex;
						justify-content: center;
						align-items: center;
						margin-bottom: 20px;
						h4 {
							font-weight: 500;
							margin: 0;
							font-size: 14px;
							line-height: 1.4;
							padding-right: 15px;
							border-right: 1px solid #d189b1;
						}
						p {
							color: inherit;
							font-style: normal;
							font-size: 14px;
							line-height: 1.4;
							font-family: inherit;
							font-weight: 300;
							display: inline-block;
							position: relative;
							padding-left: 15px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: "900px") {
	.main {
		.containerwrapper {
			.container {
				.owlcontainer {
					.item {
						.text {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
