.main {
  background-color: #f9f9f9;
  border-radius: 10px;
  .sidebar {
    position: sticky;
    top: 80px;
    min-width: fit-content;
    height: 100%;

    margin-top: 50px;

    padding: 25px 50px;
    box-sizing: border-box;

    @media (min-width: "900px") {
      flex-grow: 2;
      margin-top: 0;
    }
    h4 {
      width: 224px;
      height: 27px;
      left: 1706px;
      top: 1827px;
      margin-bottom: 32px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      text-decoration: none;
      /* identical to box height */

      color: #7f2f75;
    }

    ul {
      list-style: none;
      padding-left: 0px;

      .mainCategory {
        .activeClass {
          background-color: #7f2f75 !important;
          color: #fff !important;
        }
        .category {
          width: 244px;
          height: 40px;

          display: block;
          padding-left: 20px;

          background: #ded3ff;
          border-radius: 10px;

          margin-bottom: 10px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 19px;
          cursor: pointer;
          color: #563ca5;

          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            color: #563ca5;
          }

          a:visited,
          a:active {
            color: #563ca5;
          }
          .plus {
            margin-right: 15px;
          }

          .animationPlus {
            animation: topUpAnimation 0.5s ease-in;
            margin-right: 15px;
          }

          .minus {
            margin-right: 15px;
          }
          .active {
            height: fit-content;
            width: 100%;
            transition: all 0.5s ease-in;
          }
        }

        .superSubCategory {
          margin-left: 16px;
          cursor: pointer;
          margin-top: 15px;
          margin-bottom: 15px;
          animation: topUpAnimation 0.5s ease-in;

          .subPost {
            width: 244px;
            height: 40px;
            cursor: pointer;
            display: block;
            padding-left: 20px;
            background: rgb(238, 238, 238);
            border-radius: 10px;
            margin-bottom: 10px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 19px;

            color: #357989;

            display: flex;
            align-items: center;

            a {
              color: #357989;
            }
          }
        }

        .categories {
          width: 244px;
          height: 40px;
          left: 1696px;
          top: 1886px;
          display: block;
          padding-left: 20px;
          background: #e9c9ce;
          border-radius: 10px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;

          color: #7f2f75;
          cursor: pointer;
        }

        .subCategory {
          margin-left: 16px;

          border-radius: 5px;
          margin-top: 15px;
          margin-bottom: 15px;

          .activeClass {
            background: #563ca5 !important;

            a {
              color: #fff !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    background-color: #f9f9f9;

    .sidebar {
      padding: 30px 0;

      margin-left: 3rem;

      @media screen and (max-width: 320px) {
        margin-left: 2rem;
      }
    }
  }
}

@keyframes topUpAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
