.main {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 119px 0px;
	.container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 90%;
		max-width: 1024px;
		gap: 60px;
		.titleAndAction {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.titles {
				.title {
					font-family: "Inter";
					font-style: normal;
					font-weight: 400;
					font-size: 45px;
					line-height: 48px;
					letter-spacing: -0.04em;

					color: #b5e7d8;
					margin: 0;
					span {
						font-weight: 700;
						font-size: 45px;
					}
				}
			}
			.description {
				width: 325px;
				height: 69px;
				font-family: "Inter";
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 141.02%;
				/* or 23px */

				color: #848484;
				margin: 13px 0px 40px 0px;
			}
			.button {
				width: 314px;
				height: 50px;
				left: 208px;
				top: 1044px;

				background: #b5e7d8;
				border-radius: 10px;

				font-family: "Inter";
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 17px;

				text-align: center;

				color: #357989;
				border: none;
				cursor: pointer;
				&:hover {
					background: #357989;
					color: #b5e7d8;
				}
			}
		}
		.imageContainer {
			width: 624px;

			background: #b5e7d8;
			border-radius: 20px;
			.image {
				transform: translate(0, 0);
			}
			.imageToTop {
				transform: translate(29px, 30px);
				transition: 0.8s all ease-in-out;
				transition-delay: 0.3s;
			}
		}
	}
}
@media (max-width: 700px) {
	.main {
		margin-top: 60px;
		margin-bottom: 0px;
		.container {
			gap: 40px;
			justify-content: center;
			.imageContainer {
				.imageToTop {
					transform: translate(12px, 12px);
					transition: all 0s !important;
					transition-delay: 0s !important;
				}
			}
			.titleAndAction {
				.description {
					margin-bottom: 20px !important;
				}
			}
		}
	}
}
