.main {
  position: sticky;
  top: 200px;
  width: 247px;
  height: 543px;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 25px;

  button {
    width: 173px;
    height: 43px;
    background: #efc8ce;
    border-radius: 5px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #8a2678;
  }

  ul {
    list-style: none;
    padding-left: 0px;

    li {
      line-height: 50px;
      font-size: 16px;
      color: #525252;
    }
  }
}
