.main {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	.container {
		width: 95%;
		max-width: 1335px;
		height: 100%;
		background: url("/images/writing.png");
		background-size: cover;
		display: flex;
		justify-content: flex-end;
		.points {
			width: 50%;
			max-width: 658px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h2 {
				color: #8a2678;
				font-family: "Roboto", Sans-serif;
				font-size: 22px;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 31px;
				margin: 0;
			}
			p {
				font-family: "Lexend", Sans-serif;
				font-size: 18px;
				font-weight: 500;
				color: #2a2a2a;
				margin-left: 20px;
			}
		}
	}
}
