.categoryContent {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1024px;
  margin: 50px auto 0px auto;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  .container {
    width: 92%;
    max-width: 1024px;

    .content {
      display: flex;
      // justify-content: space-between;
      flex-wrap: wrap;
      gap: 25px;
      justify-content: center;
      align-items: flex-start;

      .contentCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        @media (min-width: "900px") {
          flex: 2;
        }
      }

      .noPostFound {
        margin-top: 30px;
      }
    }

    .title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 48px;
      letter-spacing: -0.04em;
      color: #efc8cd;
      margin: 0;
      margin-bottom: 30px;
      text-transform: capitalize;

      span {
        font-weight: 700;
        color: #7f2f75;
      }
    }

    .cards {
      display: flex;

      flex-wrap: wrap;
      gap: 25px;
      margin-top: 50px;
      transform: translateY(0);
      opacity: 1;
      transition: 0.8s all ease-in-out;
      transition-delay: 0.3s;
      justify-content: center;
      .card {
        width: 320px;
        height: 467px;
        border-radius: 20px;

        background: #ffffff;

        filter: drop-shadow(0px 4px 15px rgba(86, 60, 165, 0.15));
        img {
          border-radius: 20px 20px 0px 0px;
        }
        .infos {
          width: 320px;
          height: 274px;
          padding: 25px;

          background: #ffffff;
          border-radius: 0px 0px 20px 20px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .titleAndDescription {
            h3 {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: 25px;
              line-height: 106.02%;
              /* or 27px */

              letter-spacing: -0.04em;

              color: #7f2f75;
              margin: 0;
            }
            p {
              font-family: "Inter";
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 141.02%;
              /* or 20px */

              color: #848484;
              margin-top: 13px;
            }
          }

          button {
            height: 50px;
            width: 270px;
            left: 233px;
            top: 2986px;
            border-radius: 10px;
            border: none;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            text-align: center;

            color: #7f2f75;
            background-color: #efc8cd;
            cursor: pointer;

            &:hover {
              color: #efc8cd;
              background-color: #7f2f75;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .main {
    .container {
      .title {
        font-weight: 700;
        font-size: 32px;
      }

      .caroselcontainer {
        max-width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
