.container {
  max-width: 1000px;
  padding: 0 10px;
  margin: 50px auto;
  text-align: center;

  ol {
    list-style: none;
  }

  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 12px;
  }
}
.rectangle {
  position: relative;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.levelOne {
  width: 50%;
  margin: 0 auto 40px;
  background: #d289b1;
  color: white;
  &:hover {
    color: #d289b1;
    background-color: white;
    a {
      color: #d289b1;
      background-color: white;
    }
  }
  a {
    color: white;
  }
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: black;
  }
}
.levelTwoWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #357989;
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: black;
  }
  &::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 2px;
    background: black;
  }
  li {
    position: relative;
  }
  > li {
    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 20px;
      background: black;
    }
  }
  a {
    color: #357989;
  }
}
.levelTwo {
  width: 70%;
  margin: 0 auto 40px;
  background: #b5e6d8;
  position: relative;
  display: block;
  &:hover {
    color: #b5e6d8;
    background-color: #357989;
    a {
      color: #b5e6d8;
      background-color: #357989;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: black;
  }
  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: black;
  }

  .tooltip {
    position: absolute;
    top: 1px;
    left: -13px;
    z-index: 20;

    color: #fff;

    border-radius: 3px;
    width: 50px;

    transition: all 0s ease 0.4s;
  }

  .tooltipText {
    // position: relative;
    position: absolute;
    animation: topUpAnimation 0.5s ease-in;

    color: #fff;
    width: 100%;
    padding: 6px 15px;
    top: 0;
    left: -2%;
    border-radius: 3px;

    transition: all 0s ease 0.4s;
    font-size: 12px;
    letter-spacing: 0.5px;

    &::before,
    &::after {
      --scale: 1;
      --arrow-size: 10px;
      --tooltip-color: #333;

      position: absolute;
      top: 0;
      left: 6%;
      transform: translateX(-50%) translateY(var(--translate-y, 0))
        scale(var(--scale));
      transition: 150ms transform;
      transform-origin: bottom center;

      @media screen and (min-width: 901px) {
        left: 6%;
      }
    }

    &::before {
      --translate-y: calc(-100% - var(--arrow-size));

      content: attr(data-tooltip);
      color: white;
      padding: 0.6rem 1rem;
      border-radius: 0.3rem;
      text-align: center;
      width: max-content;
      max-width: 100%;
      background: var(--tooltip-color);
    }

    &::after {
      --translate-y: calc(-1.1 * var(--arrow-size));
      transform: translateX(-50%) translateY(var(--translate-y, 0))
        scale(var(--scale));

      content: "";
      border: var(--arrow-size) solid transparent;
      border-top-color: var(--tooltip-color);
      transform-origin: top center;
    }
  }
}
.levelThreeWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  width: 90%;
  margin: 0 auto;
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: black;
  }
  > li {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      width: 2px;
      height: 20px;
      background: black;
    }
  }
}
.levelThree {
  margin-bottom: 20px;
  background: #e9c9ce;
  color: #7f2f75;
  position: relative;
  display: block;
  &:hover {
    background: #7f2f75;
    color: #e9c9ce;
    a {
      background: #7f2f75;
      color: #e9c9ce;
    }
  }
  a {
    color: #7f2f75;
  }

  .tooltip {
    position: absolute;
    top: 1px;
    left: -13px;
    z-index: 20;

    color: #fff;

    border-radius: 3px;
    width: 50px;

    transition: all 0s ease 0.4s;
  }

  .tooltipText {
    // position: relative;
    position: absolute;
    animation: topUpAnimation 0.5s ease-in;

    color: #fff;
    width: 100%;
    padding: 6px 15px;
    top: 0;
    left: 0;
    border-radius: 3px;

    transition: all 0s ease 0.4s;
    font-size: 12px;
    letter-spacing: 0.5px;

    &::before,
    &::after {
      --scale: 1;
      --arrow-size: 10px;
      --tooltip-color: #333;

      position: absolute;
      top: 0;
      left: 8%;
      transform: translateX(-50%) translateY(var(--translate-y, 0))
        scale(var(--scale));
      transition: 150ms transform;
      transform-origin: bottom center;

      @media screen and (min-width: 901px) {
        left: 6%;
      }
    }

    &::before {
      --translate-y: calc(-100% - var(--arrow-size));

      content: attr(data-tooltip);
      color: white;
      padding: 0.6rem 1rem;
      border-radius: 0.3rem;
      text-align: center;
      width: max-content;
      max-width: 100%;
      background: var(--tooltip-color);
    }

    &::after {
      --translate-y: calc(-1.1 * var(--arrow-size));
      transform: translateX(-50%) translateY(var(--translate-y, 0))
        scale(var(--scale));

      content: "";
      border: var(--arrow-size) solid transparent;
      border-top-color: var(--tooltip-color);
      transform-origin: top center;
    }
  }
}
.levelFourWrapper {
  position: relative;
  width: 80%;
  margin-left: auto;
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 2px;
    height: calc(100% + 20px);
    background: black;
  }
  li {
    + {
      li {
        margin-top: 20px;
      }
    }
  }
}
.levelFour {
  font-weight: normal;
  background: #ded3ff;
  color: #563ca5;
  &:hover {
    background: #563ca5;
    color: #ded3ff;
    a {
      background: #563ca5;
      color: #ded3ff;
    }
  }
  a {
    color: #563ca5;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: black;
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin: 50px auto;
    h4 {
      font-size: 10px;
    }
  }
  .rectangle {
    padding: 20px 10px;
  }

  .levelOne {
    width: 100%;
    margin-bottom: 20px;
    &::before {
      display: none;
    }
  }
  .levelTwo {
    width: 100%;
    &::after {
      display: block;
    }
  }
  .levelTwoWrapper {
    > li {
      &::before {
        display: none;
      }
      &:not(:first-child) {
        margin-top: 50px;
      }
    }
    display: block;
    width: 90%;
    margin-left: 10%;
    &::after {
      display: none;
    }
    &::before {
      left: -20px;
      width: 2px;
      height: calc(100% + 40px);
    }
  }

  .levelFourWrapper {
    position: relative;
    width: 80%;
    margin-left: auto;
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -20px;
      width: 2px;
      height: calc(100% + 20px);
      background: black;
    }
    li {
      + {
        li {
          margin-top: 20px;
        }
      }
    }
  }
}
