* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Lexend", sans-serif !important;
}

a:hover {
  color: #2a2a2a;
}
a:visited,
a:active {
  color: inherit;
}

a {
  color: #8a2678;
  text-decoration: none;
}

#__next
  > div
  > div.owlSection_main__1OQ90
  > div
  > div
  > div
  > div
  > div.carousel.carousel-slider
  > ul
  > li.dot {
  background: black !important;
  opacity: 1 !important;
  box-shadow: none;
}
#__next
  > div
  > div.owlSection_main__1OQ90
  > div
  > div
  > div
  > div
  > div.carousel.carousel-slider
  > ul
  > li.dot.selected {
  background: none !important;
  border: 2px solid #d189b1;
  box-shadow: none;
  padding: 6px;
}
#__next
  > div
  > div.owlSection_main__1OQ90
  > div
  > div
  > div
  > div
  > div.carousel.carousel-slider
  > ul.control-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-header {
  box-shadow: 0 2px 4px hsla(0, 4%, 15%, 0.1);
}

/* system biology page global style */
.biologyMain {
  width: 311px !important;
  height: 45px !important;
  padding: 5px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5 !important;
  border-radius: 10px;
  margin-right: 32px;
  position: relative !important;
}

.biologyMain button {
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1;
}
#btn {
  left: 0;
  top: 5px;
  position: absolute;
  width: 156px;
  height: 35px;
  background: #ded3ff;
  border-radius: 30px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #525252;
  cursor: pointer;
}

#femalebtn {
  left: 156px;
  top: 5px;
  position: absolute;
  width: 156px;
  height: 35px;
  background: #efc8ce;
  border-radius: 30px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #525252;
  cursor: pointer;
}

/* system biology page global style */

.accordion {
  font-weight: 300;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  text-transform: capitalize;
  border-bottom: solid 1px #000;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: "+";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  transform: scale(1.5);
  font-weight: 300;
}
.active,
.accordion:hover {
  background-color: #fff;
}
.active:after {
  content: "\2212";
}
