.notfound {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  text-align: center;
  h1 {
    line-height: 1.3;
  }
  button {
    margin-top: 1rem;
    width: 314px;
    height: 50px;
    left: 208px;
    top: 1044px;

    background: #ded3ff;
    border-radius: 10px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    text-align: center;
    cursor: pointer;
    color: #563ca5;
    border: none;
    &:hover {
      background: #7f2f75;
      color: #efc8ce;
    }
  }
}

.main {
  display: flex;
  justify-content: center;

  .container {
    // margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    color: #525252;

    .heroImageContainer {
      margin-bottom: 52px;
      border-radius: 20px;
      img {
        border-radius: 20px;
        aspect-ratio: 16 / 8;
      }
    }

    .breadcrumb {
      text-transform: capitalize;
      margin-top: 54px;

      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 106.02%;
        /* or 17px */

        letter-spacing: -0.04em;
        cursor: pointer;

        color: #525252;
        &:last-child {
          color: #aa5485;
        }
      }
    }

    .subTitle {
      margin-top: 68px;
      margin-bottom: 5px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 111%;
      /* identical to box height, or 18px */

      letter-spacing: -0.02em;

      color: #525252;
      text-transform: capitalize;
    }
    .title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 111%;
      /* identical to box height, or 61px */
      letter-spacing: -0.02em;

      margin-bottom: 45px;
      color: #8a2678;
    }
    .contentandSidebar {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      width: 100%;

      .content {
        width: 75%;
        // max-width: 679px;

        word-break: break-word;

        h3 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        p {
          margin-bottom: 38px;
          line-height: 25px;

          strong {
            font-weight: 700;
          }
        }

        ul {
          padding-left: 3rem;
          margin-bottom: 1rem;
        }
        ul li {
          line-height: 25px;
        }

        ul li ul {
          padding-left: 1rem;
        }

        h4 {
          padding-top: 1.5rem;
          padding-bottom: 0.5rem;
        }

        img {
          max-width: 100%;
        }

        ol li {
          line-height: 25px;
        }
      }
      .sidebar {
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    .container {
      max-width: 1024px;

      .heroImageContainer {
        padding: 0 1.5rem;
        img {
          aspect-ratio: 15.5 / 10;
        }
      }
      .breadcrumb {
        margin-top: 23px;
        margin-left: 24px;
        margin-right: 24px;
        line-height: 1.3;
      }

      .title {
        margin-top: 30px;
        font-size: 34px;
        margin-left: 18px;
        margin-right: 18px;
      }
      .subTitle {
        margin-left: 18px;
        margin-right: 18px;
      }
      .contentandSidebar {
        display: flex;
        gap: 0px;
        flex-direction: column;

        .content {
          width: 100%;
          order: 2;
          padding: 0 1.5rem;

          img {
            max-width: 100%;
          }
        }

        .sidebar {
          width: 100%;
          order: 1;
          margin-top: 0;
        }
      }
    }
  }
}
