.timelineContainer {
  max-width: 1024px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;

  ol {
    list-style: none;
    padding-right: 0;
  }

  .rectangle {
    position: relative;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    @media screen and (max-width: 700px) {
      padding: 20px 10px;
    }
  }

  .levelOne,
  .levelTwo {
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  .levelOne {
    width: 50%;
    margin: 0 auto 40px;
    background: #8dccad;

    @media screen and (max-width: 700px) {
      margin-bottom: 20px;

      &::before {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 20px;
      background: black;
    }
  }

  .levelTwoWrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;

    // @media screen and (max-width: 700px) {
    //   display: block;
    //   > li::before {
    //     display: none;
    //   }

    //   &::after {
    //     display: block;
    //   }
    // }

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 12.5%;
      width: 75%;
      height: 2px;
      background: black;
    }

    &::after {
      display: none;
      content: "";
      position: absolute;
      left: -20px;
      bottom: -20px;
      width: calc(100% + 20px);
      height: 2px;
      background: black;
    }

    li {
      position: relative;
    }

    > li::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 20px;
      background: black;
    }

    .levelTwo {
      width: 70%;
      margin: 0 auto 40px;
      background: #8dccad;

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 20px;
        background: black;
      }

      &::after {
        display: none;
        content: "";
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-100%, -50%);
        width: 20px;
        height: 2px;
        background: black;
      }
    }

    // .levelThreeWrapper {
    //   position: relative;
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   grid-column-gap: 20px;
    //   width: 90%;
    //   margin: 0 auto;
    //   padding: 0;

    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: -20px;
    //     left: calc(25% - 5px);
    //     width: calc(50% + 10px);
    //     height: 2px;
    //     background: black;
    //   }

    //   > li::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 50%;
    //     transform: translate(-50%, -100%);
    //     width: 2px;
    //     height: 20px;
    //     background: black;
    //   }

    //   .levelThree {
    //     margin-bottom: 20px;
    //     background: #8dccad;
    //     margin-top: 0;
    //   }

    //   .levelFourWrapper {
    //     position: relative;
    //     width: 80%;
    //     margin-left: auto;
    //     padding: 0;

    //     ::before {
    //       content: "";
    //       position: absolute;
    //       top: -21px;
    //       left: -20px;
    //       width: 2px;
    //       height: calc(100% + 22px);
    //       background: black;
    //     }

    //     li + li {
    //       margin-top: 20px;
    //     }

    //     .levelFour {
    //       font-weight: normal;
    //       background: #8dccad;

    //       &::before {
    //         content: "";
    //         position: absolute;
    //         top: 50%;
    //         left: 0%;
    //         transform: translate(-100%, -50%);
    //         width: 20px;
    //         height: 2px;
    //         background: black;
    //       }
    //     }
    //   }
    // }
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
    max-width: 1024px;

    .heroImageContainer {
      margin-bottom: 52px;
    }

    .breadcrumb {
      text-transform: capitalize;
      margin-top: 54px;
      a {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 106.02%;
        /* or 17px */

        letter-spacing: -0.04em;
        cursor: pointer;

        color: #525252;
        &:last-child {
          color: #aa5485;
        }
      }
    }
    .title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 111%;
      /* identical to box height, or 61px */
      letter-spacing: -0.02em;
      margin-top: 80px;
      margin-bottom: 45px;
      color: #8a2678;
    }
    .contentandSidebar {
      display: flex;
      gap: 95px;
      width: 100%;

      .content {
        width: 60%;
        max-width: 679px;

        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    margin-left: 22px;
    margin-right: 22px;
    .container {
      .breadcrumb {
        margin-top: 23px;
      }

      .title {
        margin-top: 30px;
        font-size: 34px;
      }
      .contentandSidebar {
        display: flex;
        gap: 0px;
        flex-direction: column;

        .content {
          width: 100%;

          img {
            max-width: 100%;
          }
        }

        .sidebar {
          width: 100%;
        }
      }
    }
  }
}
